<div class="mt-6 flex flex-col md:flex-row md:items-start">
  <div class="flex-auto">
    <div class="card">
      <div class="px-gutter py-4 border-b">
        <div fxLayoutAlign="space-between">
          <h2 class="title m-0">Informações</h2>

          <button (click)="openProfileEdit('')" mat-menu-item>
            <mat-icon color="primary" [icIcon]="icEdit"></mat-icon>
          </button>
        </div>
      </div>

      <div class="px-gutter py-4" gdColumns="1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
            class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icShield" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{perfil.cpf || 'CPF não informado'}}</p>
            <p class="m-0 caption text-hint">CPF</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
            class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icCake" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{perfil.dataNasc}}</p>
            <p class="m-0 caption text-hint">Data Nascimento</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
            class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icPerson" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{perfil.nome}}</p>
            <p class="m-0 caption text-hint">Nome</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
            class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icPerson" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{perfil.email}}</p>
            <p class="m-0 caption text-hint">Email</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>