<div class="text-center py-24 header">
  <div class="container">
    <h2 @fadeInUp class="display-2 mt-16 mb-8">Facilite a organização do seu dia-a-dia conosco</h2>
    <h3 class="subheading-2 text-hint text-center max-w-lg mx-auto m-0">Alivie o transtorno de lembrar dos remédios
      utilizando nosso alarme para remédios e converse com outras pessoas em situações próximas!</h3>
  </div>
</div>


<div class="bg-card py-16 px-gutter footer">
  <h2 class="display-1 mt-0 mb-4 text-center">Nossas Funcionalidades</h2>
  <h3 class="subheading-2 text-hint text-center max-w-lg mx-auto m-0">Veja as funcionalidades disponíveis para te
    auxiliar no controle de seu dia-a-dia.</h3>

  <div class="mt-16 max-w-3xl mx-auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="24px">
    <a class="text-center p-6 border rounded" fxFlex routerLinkActive>
      <h3 class="title mb-0 mt-4">Controle de Medicamentos</h3>
      <h4 class="subheading-2 m-0 text-hint">Cadastre os medicamentos que está tomando atualmente e ative um alarme se
        assim desejar</h4>
    </a>

    <a class="text-center p-6 border rounded" fxFlex routerLinkActive>
      <h3 class="title mb-0 mt-4">Controle de Sintomas</h3>
      <h4 class="subheading-2 m-0 text-hint">Cadastre seus sintomas para acompanhar o desenvolvimento de seu tratamento
      </h4>
    </a>

    <a class="text-center p-6 border rounded" fxFlex routerLinkActive>
      <h3 class="title mb-0 mt-4">Controle de Humor</h3>
      <h4 class="subheading-2 m-0 text-hint">Cadastre seu humor diário para manter um controle de suas emoções</h4>
    </a>

    <a class="text-center p-6 border rounded" fxFlex routerLinkActive>
      <h3 class="title mb-0 mt-4">Chat</h3>
      <h4 class="subheading-2 m-0 text-hint">Um ambiente de chat agradável, converse com pessoas em situações próximas,
        troque informações e experiências!</h4>
    </a>
  </div>
</div>