<form [formGroup]="editPerfilForm">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">{{perfil.nome}}</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <mat-form-field class="mt-6">
      <mat-label>CPF</mat-label>
      <input cdkFocusInitial formControlName="cpf"
        autocomplete="off" placeholder="000.000.000-00" matInput>

      <mat-icon [icIcon]="icShield" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input formControlName="nome" matInput>

      <mat-icon [icIcon]="icPerson" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data Nascimento</mat-label>
      <input type="date" formControlName="dataNasc" matInput>

      <mat-icon [icIcon]="icCake" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button color="primary" mat-button type="submit" (click)="send()">SALVAR ALTERAÇÕES</button>
  </mat-dialog-actions>
</form>