<div @stagger>
  <div class="bg-card py-16 px-gutter">
    <h1 @fadeInUp class="display-2 mt-0 mb-4 text-center">Medicamentos e Sintomas</h1>
    <h2 @fadeInUp class="subheading-2 text-hint text-center max-w-lg mx-auto m-0">LOREM IPSUM</h2>
  </div>

  <div class="my-12 container" fxLayout="row" fxLayoutAlign="space-between" fxLayoutAlign.xs="start stretch">

    <div fxLayout="column" fxFlex="45">
      <h2 @fadeInUp class="mt-0 text-center">Remédios</h2>

      <div fxLayout="row wrap" fxLayoutAlign="space-between" class="p-6">
        <div *ngFor="let remedio of remedios" @fadeInUp class="card p-6 margin-custom" fxFlex="48" fxLayout="column"
          fxLayoutAlign="start center">
          <div
            class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
            <ic-icon [icon]="icMedication" size="48px"></ic-icon>
          </div>

          <h2 class="headline my-6">{{remedio.nome}}</h2>
          <div class="body-1"><span class="body-2">{{dateFormatter(remedio.dataInicio)}}</span></div>
          <div class="body-1">
            <span class="body-2">
              {{frequenciaFormatter(+remedio.frequencia)}}
            </span>
          </div>
          <h3 class="display-2 font-bold my-6"><span
              class="text-secondary headline align-top">{{remedio.dosagem}}</span></h3>

          <div fxLayout="row" fxLayoutAlign="center center" class="p-6">
            <ic-icon [icon]="icTimer" size="36px" class="text-primary timer-icon" (click)="agendarRemedio(remedio)">
            </ic-icon>
          </div>

          <div fxLayout="row" fxLayoutAlign="center center" class="p-6">
            <button (click)="removerRemedio(remedio)" class="rounded-full max-w-full w-200" color="warn"
              mat-raised-button type="button">
              Remover
            </button>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" class="p-6">
        <button (click)="modalRemedio()" class="rounded-full max-w-full w-200" color="primary" mat-raised-button
          type="button">
          + REMÉDIO
        </button>
      </div>
    </div>


    <div fxLayout="column" fxFlex="45">
      <h2 @fadeInUp class="mt-0 text-center">Sintomas</h2>

      <div fxLayout="row" fxLayoutAlign="space-between" class="p-6">
        <div *ngFor="let sintoma of sintomas" @fadeInUp class="card p-6 margin-custom" fxFlex="48" fxLayout="column"
          fxLayoutAlign="start center">
          <div
            class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
            <ic-icon [icon]="icThermostat" size="48px"></ic-icon>
          </div>

          <h2 class="headline my-6">{{sintoma.nome}}</h2>

          <div class="body-1">{{sintoma.duracao}}</div>
          <div class="body-1">{{sintoma.observacao}}</div>

          <div fxLayout="row" fxLayoutAlign="center center" class="p-6">
            <button (click)="removerSintomas(sintoma)" class="rounded-full max-w-full w-200" color="warn"
              mat-raised-button type="button">
              Remover
            </button>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" class="p-6">
        <button (click)="modalSintomas()" class="rounded-full max-w-full w-200" color="primary" mat-raised-button
          type="button">
          + SINTOMAS
        </button>
      </div>
    </div>

  </div>

  <div @fadeInUp class="bg-card py-16 px-gutter footer">
    <h2 class="display-1 mt-0 mb-4 text-center">Still have questions?</h2>
    <h3 class="subheading-2 text-hint text-center max-w-lg mx-auto m-0">A wonderful serenity has taken possession of
      my
      entire
      soul, like these sweet
      mornings of spring which I enjoy with my whole heart.</h3>

    <div class="mt-16 max-w-3xl mx-auto flex flex-col md:flex-row">
      <a class="text-center p-6 border rounded md:w-1/2 md:mx-2" routerLinkActive>
        <ic-icon [icon]="icPhoneInTalk" class="text-hint" size="42px"></ic-icon>
        <h3 class="title mb-0 mt-4">+1 (840) 423-3404</h3>
        <h4 class="subheading-2 m-0 text-hint">Call us anytime for a quick solution</h4>
      </a>

      <a class="text-center p-6 border rounded md:w-1/2 md:mx-2" routerLinkActive>
        <ic-icon [icon]="icMail" class="text-hint" size="42px"></ic-icon>
        <h3 class="title mb-0 mt-4">support@example.com</h3>
        <h4 class="subheading-2 m-0 text-hint">Send us a mail to resolve your issue</h4>
      </a>
    </div>
  </div>
</div>