<form [formGroup]="remedioForm">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <mat-form-field class="mt-6">
      <mat-label>Nome</mat-label>
      <input cdkFocusInitial formControlName="nome" autocomplete="off" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dosagem</mat-label>
      <input formControlName="dosagem" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data de Início</mat-label>
      <input type="datetime-local" formControlName="dataInicio" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Recorrência (Horas)</mat-label>
      <input type="number" formControlName="recorrencia" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Número de vezes</mat-label>
      <input type="number" formControlName="times" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Frequência</mat-label>
      <mat-select formControlName="frequencia">
        <mat-option value="{{0}}">Diária</mat-option>
        <mat-option value="{{1}}">Semanal</mat-option>
        <mat-option value="{{2}}">Mensal</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button color="primary" mat-button type="submit" (click)="send()">ADICIONAR</button>
  </mat-dialog-actions>
</form>