<div class="bg-pattern w-full h-full" fxLayout="column" fxLayoutAlign="center center">
  <div [@fadeInUp] class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/demo/logo.svg">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Recupere sua senha</h2>
    </div>

    <div [formGroup]="form" class="p-6 flex flex-col">
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input formControlName="password" type="password" matInput required>
        <mat-error *ngIf="form.get('password').hasError('required')">
          Senha é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirmação de Senha</mat-label>
        <input formControlName="passwordConfirm" type="password" matInput required>
        <mat-error *ngIf="form.get('passwordConfirm').hasError('required')">
          Confirmação de senha é obrigatório.
        </mat-error>
      </mat-form-field>

      <button (click)="send()" class="mt-2" color="primary" mat-raised-button type="button">
        RECUPERE MINHA SENHA
      </button>
    </div>
  </div>
</div>